{% extends "Index/basic.html"%}


{% block location %}
{% for location in locations %}

  <li><a href="{% url 'camera_by_location' locationid=location.id %}"> {{location.place}}   </a></li>{% endfor %}
{% endblock %}

{% block content %}


<h1>  Entrenamiento </h1>

 <p>
            1. <input type="text">	
            2.  <button type="button">Entrenar</button>
               
               
            </p>

            
    <img src="{% url 'entrenar' %}" width="600px" height="420px">
   

{% endblock %}